@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject ApiClient api

<PageTitle>Home</PageTitle>

<MudTextField T="string" Label="Server Url" InputType="InputType.Url" @bind-Value="ServerUrl" Clearable="true" />
<MudTextField T="string" Label="UUID" InputType="InputType.Text" @bind-Value="UUID" Clearable="true" />
<MudButton Variant="Variant.Filled" @onclick="Register" Disabled="RegisterDisabled">Register at Server</MudButton>

<br />
<MudToggleIconButton Toggled="@AlarmOn" ToggledChanged="OnToggledChanged"
                     Icon="@Icons.Material.Filled.AlarmOff" Color="@Color.Error" title=@(AlarmOn ? "Started" : "Stopped")
                     ToggledIcon="@Icons.Material.Filled.AlarmOn" ToggledColor="@Color.Success" />


<span>Tracking @(AlarmOn ? "Started" : "Stopped")</span>
<br />
<span>
    Server Status: @if (ServerReachable)
    {
        <MudIcon Icon="@Icons.Material.Filled.Cloud" Color="Color.Success" />
    }
    else
    {
        <MudIcon Icon="@Icons.Material.Filled.CloudOff" Color="Color.Error" />
    }
</span>
